<nav class="navbar navbar-expand-md navbar-dark nav-blue-flexbot fixed-top">
  {{#link-to 'index' class="navbar-brand"}}Bienvenido a Flexbot{{/link-to}}
</nav>

<main role="main" class="container-fluid container-p-t">
  {{outlet}}
</main>