<nav class="navbar navbar-expand-md navbar-dark nav-blue-flexbot fixed-top">
  <a {{action 'toggleFullscreen'}} style="color:white">Bienvenido a Flexbot</a>
</nav>

<main role="main" class="container-fluid container-p-t">
  {{outlet}}
</main>